# Portovi simulatora
MODBUS_PORT=502
OPCUA_PORT=4840 #vidi da li mozes ovo da obrises

# Adresa simulatora (za klijente)
MODBUS_HOST=plant-sim

# Profil klijenta: hmi ili scada
PROFIL=hmi

# .env.example
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=


OPCUA_HOST=
OPCUA_PORT=
OPCUA_PATH=